.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

main {
  p {
    margin: 0;
  }

  .columns-2-cols>div {
    margin: 50px 0;
  }

  .columns-1x3 {
    .default-content-wrapper {
      h2 {
        font-size: 28px;
        margin-bottom: 0;
        line-height: 1.2;
      }

      p {
        font-size: 16px;
        margin: 10px 0 20px;
        line-height: 1;
      }

    }

    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      flex: 1 1 auto;
      margin: 20px 0 5px;
      text-align: center;
    }

    .columns {
      text-align: left;

      >div {
        align-items: unset;
        gap: 20px;
      }

      >div>div {
        display: flex;
        flex-direction: column;
      }
    }

    .button-container {
      text-align: center;
    }

    a.button {
      padding: 0;
      line-height: 1;
      background: none;
      text-decoration: underline;
      color: var(--text-color);
      font-size: 14px;
      margin: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .columns-1x1 {
    background: #C6FFDD;
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  }

  .halign-center {
    text-align: center;
  }
}

@media (width >=900px) {
  main {
    .columns-1x3 {
      .default-content-wrapper {
        h2 {
          font-size: 48px;
        }

        p {
          font-size: 20px;
          margin: 5px 0 20px;
        }
      }
    }
  }
}