main .section>div.product-recommendations-wrapper {
    max-width: 100%;
    padding: 0;
    text-align: left;
    margin: 0 0 5rem;
}

.product-recommendations {
    overflow: hidden;
    min-height: 512px;
}

.product-recommendations .scrollable {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding-bottom: 3rem;
}

.product-recommendations .product-grid {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0;
}

.product-recommendations .product-grid-item img {
    width: 100%;
}

.product-recommendations .product-grid .product-grid-item a {
    text-decoration: none;
}

.product-recommendations .product-grid .product-grid-item a:hover,
.product-recommendations .product-grid .product-grid-item a:focus {
    text-decoration: underline;
}

.product-recommendations .product-grid .product-grid-item span {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem 1rem 0 0;
    display: inline-block;
}

.product-recommendations .product-grid picture {
    background: none;
    display: block;
    width: 300px;
    aspect-ratio: 1 / 1.25;
}

.product-recommendations .product-grid img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
    background: none;
}

.product-recommendations .product-grid .placeholder {
    background-color: var(--color-neutral-500);
    scroll-snap-align: start;
}

.product-recommendations .product-grid .placeholder img {
    display: none;
}

.product-recommendations .product-grid-item {
    margin: 0;
    scroll-snap-align: start;
}

@media (width >=900px) {
    .product-recommendations {
        min-height: 534px;
    }
}

.section {
    &.masonrygrid {
        max-width: var(--page-max-width);
        margin: 0 auto;

        .product-recommendations-wrapper {
            text-align: center;
            margin: 0;
        }

        h2 {
            margin-top: 0;
            font-size: 28px;
            text-transform: uppercase;
            line-height: 1.2;
        }

        .product-recommendations {
            overflow: visible;
            min-height: auto;

            .product-grid {
                .product-grid-item {
                    padding: 20px;
                    background-color: #f8f4f2;
                    min-width: 200px;
                }

                picture {
                    width: 100%;
                    aspect-ratio: 2/1;
                }

                img {
                    mix-blend-mode: darken;
                    transition: ease-in-out transform .3s;
                }

                a {
                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                h3 {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 1;
                    flex: 1 1 auto;
                    margin: 20px 0;
                    text-align: center;
                }
            }
        }
    }
}


@media (width >=900px) {
    .section {
        &.masonrygrid {
            h2 {
                font-size: 48px;
                text-transform: uppercase;
                line-height: 1.2;
            }

            .product-recommendations {
                .product-grid {
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-rows: repeat(2, minmax(0, 1fr));
                    gap: 30px;
                    grid-auto-columns: 1fr;

                    .product-grid-item {
                        min-width: auto;

                        &:first-child {
                            grid-column: span 2 / span 2;
                            grid-row: span 2 / span 2;

                        }
                    }
                }
            }
        }
    }

    .product-recommendations .scrollable {
        padding-bottom: 0;
    }

}