/* stylelint-disable no-empty-source */
.plp .section.enrichment-container:first-child {
    padding: 0;
}

.full-bleed-banner p {
    margin: 0;
}

.full-bleed-banner .default-content-wrapper {
    max-width: unset;
}

.full-bleed-banner img {
    width: 100vw;
    position: relative; 
    left: 50%; 
    right: 50%; 
    margin-left: -50vw; 
    margin-right: -50vw; 
    box-sizing: border-box; 
}